#unignore all go files
!**/*.go 
#ignore intellij idea files
.idea
#ignore bin
http_blaster
#ignore iml
http_blaster.iml
BlasterDump-*
*.results*
WrongLinksDumps/*
*ns*.json
*stack*.yml
*.sh
onelink*.toml